DiplomaOptions/WCFTest/Service References/StudentOptionsService/StudentOptionsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentOptionsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2792/OptionsWebsite/StudentOptionsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2792/OptionsWebsite/StudentOptionsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2792/OptionsWebsite/StudentOptionsService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentOptionsService_getActiveOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:getActiveOptions" />
  </wsdl:message>
  <wsdl:message name="IStudentOptionsService_getActiveOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getActiveOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentOptionsService_boolsubmitOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:boolsubmitOptions" />
  </wsdl:message>
  <wsdl:message name="IStudentOptionsService_boolsubmitOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:boolsubmitOptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentOptionsService">
    <wsdl:operation name="getActiveOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentOptionsService/getActiveOptions" message="tns:IStudentOptionsService_getActiveOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentOptionsService/getActiveOptionsResponse" message="tns:IStudentOptionsService_getActiveOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="boolsubmitOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentOptionsService/boolsubmitOptions" message="tns:IStudentOptionsService_boolsubmitOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentOptionsService/boolsubmitOptionsResponse" message="tns:IStudentOptionsService_boolsubmitOptions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentOptionsService" type="tns:IStudentOptionsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getActiveOptions">
      <soap:operation soapAction="http://tempuri.org/IStudentOptionsService/getActiveOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="boolsubmitOptions">
      <soap:operation soapAction="http://tempuri.org/IStudentOptionsService/boolsubmitOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentOptionsService">
    <wsdl:port name="BasicHttpBinding_IStudentOptionsService" binding="tns:BasicHttpBinding_IStudentOptionsService">
      <soap:address location="http://localhost:2792/OptionsWebsite/StudentOptionsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>